.post-date{
	background: #212529;
	margin: 3px 0;
	display: block;
	padding: 4px;
	color: white;
}

.post-thumb{
	max-width: 100%;
	margin-bottom: 15px;
}

.title{
	margin-top:2px;
}

.img-post{
	max-width: 625px;
	margin: 15px auto;
}

.slash {
    color: white;
    height: 100%;
    margin-top: 7px;
}
.pull-right{
	float: right;
}

.fix-margin{
	margin-top: 85px;
}

.cat-delete{
	float: right;
	cursor: pointer;
}

.sm-img{
	width: 17px;
}

.pagination-links{
	margin: 3px 0px;
}

.pagination-link{
	margin: 0 3px;
	padding: 8px 13px;
	border:1px solid #ccc;
}